.DS_Store

build/
DerivedData/
TempProducts

demoProjects/IgnoreConfig

xcuserdata/
xcshareddata/
demoProjects.xcworkspace/xcuserdata/yaomac.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.moved-aside
*.xcuserstate
demoProjects.xcworkspace/xcuserdata/

#CocoaPods
Pods
!Podfile
!Podfile.lock